<!-- CONTENIDO -->
<section class="container espacio">
    <div class="col-lg-7" ng-controller="consultaSecciones">
        <div class="panel panel-default">
            <div class="panel-heading" id="pmunicipios">
                <h1 class="panel-title"><b>MUNICIPIOS</b></h1>

            </div> <!-- /.panel-heading -->
            <br>
            <div>
                <div><a href="" data-toggle="modal" data-target="#buscar"><p class="busca"><b> Buscar</b> </p> <i class="smuni fa fa-search-plus fa-2x"></i> </a> </div>
            </div>
            <br>
            <hr>
            <div class="panel-body">
                <div class="row" ng-repeat="mu in mpios| limitTo: posicion | limitTo: -5">
                    <div class="col-sm-5">
                        <img class="imgsintesis" src="img/images (2).jpg" alt="">

                    </div> <!-- /.sm-4 -->
                    <div class="col-sm-7">

                        <a href="#/noticia/{{mpios.idNoticias}}" style="text-decoration: none;"><h4 class="titulosintesis">{{mu.title}}</h4></a>
                        <div class="row">
                            <div class="col-sm-12">
                                <p class="fecha">{{mu.fecha}}</p>
                                <p class="sintesis">
                                    {{mu.sintesis}}

                                </p>

                            </div>
                        </div>

                    </div> <!-- /.sm-8 -->
                    <hr>
                </div> <!-- /.row -->

            </div> <!-- /.panel-body -->


        </div> <!-- /.panel -->
       
        <button class="btn btn-info btnpagina" ng-click="anteriores()">Anteriores</button>
        <button class="btn btn-info btnpagina" ng-click="siguientes()">Siguientes</button>
        
        {{posicion}} / {{totalNoticias}}
      
    </div> <!-- /.lg-7 -->

    <div ng-include="publicidad"></div>    

</section> <!-- /.Container -->
<!-- /Contenido -->

<br>



<!-- ENTRADA MODAL -->
<div class="modal fade" id="buscar">
    <div class="modal-dialog">   
        <div id="modalmun" class="modal-content">
            <div class="modal-body">
                <div class="form-group">
                    <label>Selecciona un municipio:</label> 
                    <select class="form-control">
                        <option value="1">Abalá</option>
                        <option value="2">Acanceh</option>
                        <option value="3">Akil</option> 
                    </select>
                </div> <!-- /.form-group -->
                <div class="form-group">
                    <label>del día:</label> 
                    <select class="form-horizontal">
                        <option value="1">01-01-2016</option>
                        <option value="2">02-01-2016</option>
                        <option value="3">03-01-2016</option>  
                    </select>
                    <label>al día:</label> 
                    <select class="form-horizontal">
                        <option value="1">04-01-2016</option>
                        <option value="2">05-01-2016</option>
                        <option value="3">06-01-2016</option> 
                    </select>
                </div> <!-- /.form-group -->

            </div>
            <div class="modal-footer">
                <div class="btn btn-info "><a href="#/noticiasMunicipios" id="btnmun"> Buscar </a></div>
            </div>
        </div><!-- /.modal-content --> 
    </div> <!-- /.modal-title-->
</div><!-- /.modal-fade -->
<!-- /Entrada modal -->    


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>

</body>
</html>
